body{
	background-color: #F2D0A4;
	background-image: url("")
}
#myNavbar {
	background-color: #FC7A57
}
#NavItems {
	padding: 15px 0px 15px 0px;
	text-align: middle;
}
#NavItems li{
	display: inline;
	margin-right: 10px;
}

#AboutSection{
	text-align: center;
}
#AboutSection div {
	margin-top: 20px
}
#AboutSection p {
	font-size: 25px;
}
.AboutImage{
	width: 75%;
	border-radius: 100px;
}
.honda.jpegImage{
  width: 75%;
  border-radius: 100px;
}